body {
    background-color:bisque;
}

.header {
    padding-top: 50px;
    font-family:  sans-serif;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header img {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
}

.header h1 {
    font-size: 32px;
    font-weight: 800;
    color: #61082B;
    text-shadow: 1.5px 1.5px 1.5px black;
}


.user {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background-color:darkgray;
}

.nav__conteiner {
    background-color:#61082B;
    grid-area: nav;
}

.nav {
    display: flex;
    position: sticky;
    z-index: 10;
    flex-direction: column;
    justify-content:flex-start;
    font-size: 14px;
    padding-top: 20px;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 400px;
}

.nav a {
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.nav__logo {
    margin-top: 70px;
    width: 100%;
    margin-bottom: 20px;
}

hr {
    background-color: brown;
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.main {
    text-align: center;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-areas:
    "nav conteiner"
    "footer footer";
}

.main h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #425664;
    font-weight: 600;
    text-decoration: underline;
}

.main h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color:black;
    font-weight: 700;
}

.conteiner {
    grid-area: conteiner;
}

.auctions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 25px;
}

.auction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px ridge #1181B2;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
    background-color:beige;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.auction:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.auction img {
    margin-bottom: 10px;
    max-width: 100%;
}

.auction__description {
    padding-left: 10px;
    padding-right: 10px;
}

.description__auction {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description, .start__cost {
    text-decoration: underline;
}

.description__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.watch input[type=submit] {
    margin-bottom: 20px;
}


.del__watchlist {
    margin-top: 15px;
    margin-bottom: 10px;
}

.bet {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 8%;
    padding-right: 20%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.bet label {
    margin: 0;
}

.bet__input {
    width: 45%;
    margin-right: 10px;
} 


.comment {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    margin-bottom: 15px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.time {
    font-style: oblique;
    font-size: 11px;
    margin-bottom: 5px;
}

.comment__input {
    margin-top: 2px;
    margin-bottom: 10px;
}

.auction__comments {
    background-color: #C6AD8F;
}



.comment__from__user {
    font-weight: 700;
    font-size: 16px;
}

.list {
    width: fit-content;
    margin: auto;
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}

.category {
    margin-bottom: 5px;
    margin-top: 5px;
}

.category a {
    color: #001730;
    font-weight: 600;
}

.create__auction {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 25px;
}

.load__file input[type=file]::file-selector-button {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.login, .register {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 110px;
}

.to__registration, .to__login {
    padding-bottom: 10px;
    display: inline-flex;
}

.achievements {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.without__achievements {
    margin-left: -40px;
}

.footer {
    background-color:grey;
    grid-area: footer;
    height: fit-content;
    display: flex;

}

.footer__item {
    width: 50%;
    padding-top: 20px;
}

.footer__item p {
    font-size: 14px;
}

.footer__socialweb {
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-top: 50px;
}

.footer__socialweb div {
    padding-left: 32%;
    padding-right: 32%;
}

.footer__socialweb a {
    text-decoration: none;
}

.social__network__image {
    width: 13%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;
}
  
.social__network__image__viber {
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    transition: 0.2s;
}

.social__network__image:hover, .social__network__image__viber:hover {
    transform: scale(1.1);
}

.burger {
    display: none;
  }
  
  .burger__bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: brown;
    text-align: center;
  }

  @media screen and (max-width: 480px) {
    body {
        font-size-adjust: 0.4;
    }
    
    .nav .nav__item, .nav__logo {
        display: none;
    }
    
    .nav.open .nav__item {
        display: block;
        width: 100%;
        padding: 4px;
        font-size: 14px;
    }
    
    .nav.open {
        background-color: #61082B;
    }

    .nav__conteiner {
        position: absolute;
    }
    
    .nav {
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      padding: 15px;
      position: static;
      background-color: bisque;
      z-index: 2;
      min-height: fit-content;
      width: fit-content;
    }
    
    .nav a {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 500;
    }
    
    .burger {
        display: inline-block;
    }

    header {
        height: 118px;
    }

    .header {
        justify-content: start;
        padding-top: 40px;
        height: fit-content;
    }

    .header h1 {
        font-size: 19px;
        padding-left: 80px;
        margin-bottom: 28px;
    }

    header img {
        position: absolute;
        left: 0;
        top: 0;
        width: 90px;
        height: 90px;
    }

    hr {
        display: none;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .btn-primary {
        font-size-adjust: 0.4;
    }

    .conteiner {
        align-items: center;
        width: 100%;
        min-height: 560px;
    }

    .conteiner h2 {
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .auction {
        width: 80%;
    }
    
    .list {
        font-size: 20px;
        padding-top: 60px;
        padding-right: 30px;
    }

    .bet {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }

    .bet__input {
        margin-left: 10px;
    }
    .auction__comments {
        margin-top: 20px;
    }

    .description__auction h3 {
        margin-top: 40px;
    }

    .achievements {
        width: 95%;
    }

    .footer__socialweb div {
        padding-left: 5%;
        padding-right: 5%;
    }
    
    

  }



  @keyframes confetti-spin {
    0% {
      transform: rotate3d(0, 1, 1, 360deg);
    }
  
    50% {
      transform: rotate3d(0, 1, 1, 180deg);
    }
    
    100% {
      transform: rotate3d(0, 0, 0, 0);
    }
  }
  
  @keyframes confetti-fall {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: translateY(110vh);
      opacity: 0;
    }
  }
  
  .confetti {
    position: fixed;
    animation: confetti-fall 5s ease-out infinite;
    width: 20px;
    height: 20px;
  }
  
  .confetti::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    animation: confetti-spin 1s linear infinite;
  }
  
  .confetti:nth-child(1)::before {
    background-color: #E84FA9;
  }
  
  .confetti:nth-child(2)::before {
    background-color: #6A737D;
    animation-delay: -5s;
    animation-fill-mode: backwards;
    animation-duration: 1.5s;
  }
  
  .confetti:nth-child(3)::before {
    background-color: #1369D3;
    animation-delay: -3s;
  }
  
  .confetti:nth-child(4)::before {
    background-color: #30A64B;
    animation-delay: -2.5s;
    animation-fill-mode: backwards;
    animation-duration: 1.2s;
  }
  
  .confetti:nth-child(5)::before {
    background-color: #6F47BF;
    animation-delay: -4s;
  }
  
  .confetti:nth-child(6)::before {
    background-color: #F46A23;
    animation-delay: -6s;
    animation-fill-mode: backwards;
    animation-duration: 1.1s;
  }
  
  .confetti:nth-child(7)::before {
    background-color: #FED24E;
    animation-delay: -1.5s;
  }
  
  .confetti:nth-child(8)::before {
    background-color: #1369D3;
    animation-delay: -2s;
    animation-fill-mode: backwards;
    animation-duration: 1.8s;
  }
  
  .confetti:nth-child(9)::before {
    background-color: #E84FA9;
    animation-delay: -3.5s;
  }
  
  .confetti:nth-child(10)::before {
    background-color: #6F47BF;
    animation-delay: -2.5s;
    animation-fill-mode: backwards;
    animation-duration: 1.3s;
  }
  
  .confetti:nth-child(1) {
    left: 10%;
    width: 20px;
    height: 20px;
  }
  
  .confetti:nth-child(2) {
    left: 20%;
    animation-delay: -5s;
    width: 15px;
    height: 15px;
  }
  
  .confetti:nth-child(3) {
    left: 30%;
    animation-delay: -3.2s;
    width: 10px;
    height: 10px;
  }
  
  .confetti:nth-child(4) {
    left: 40%;
    animation-delay: -2.5s;
    width: 12px;
    height: 12px;
  }
  
  .confetti:nth-child(5) {
    left: 50%;
    animation-delay: -4.1s;
    transform: scale(1.3);
  }
  
  .confetti:nth-child(6) {
    left: 60%;
    animation-delay: -6.8s;
    width: 16px;
    height: 16px;
  }
  
  .confetti:nth-child(7) {
    left: 70%;
    animation-delay: -1.5s;
    width: 18px;
    height: 18px;
  }
  
  .confetti:nth-child(8) {
    left: 80%;
    animation-delay: -2s;
    width: 22px;
    height: 22px;
  }
  
  .confetti:nth-child(9) {
    left: 90%;
    animation-delay: -3.5s;
    width: 8px;
    height: 8px;
  }
  
  .confetti:nth-child(10) {
    left: 100%;
    animation-delay: -2.5s;
    width: 24px;
    height: 24px;
  }

